<div id="about" class="about-us section" dir="rtl">
  <div class="container">
    <div class="row">
      <!-- تصویر سمت چپ -->
      <div class="col-lg-6">
        <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
          <img src="assets/images/about-left-image.png" alt="تصویر درباره ما" class="img-fluid">
        </div>
      </div>

      <!-- محتوای سمت راست -->
      <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="section-heading">
          <h6>درباره ما</h6>
          <h2 style="color: white;">شروع از <em>ایده</em> تا <br><span>اعتماد شما</span></h2>
        </div>

        <div class="row text-right">
          <div class="col-lg-4 col-sm-4">
            <div class="about-item">
              <h4>500+</h4>
              <h6 style="color: white;">کاربر فعال</h6>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="about-item">
              <h4>95%</h4>
              <h6  style="color: white;">دقت تشخیص</h6>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="about-item">
              <h4>100%</h4>
              <h6  style="color: white;">رایگان برای همه</h6>
            </div>
          </div>
        </div>

        <p style="color: white; font-weight: bold; text-align: justify;">
          ما یک سرویس OCR حرفه‌ای ارائه می‌دهیم که به شما امکان می‌دهد متن‌های موجود در تصاویر، اسناد و PDFها را به سرعت استخراج کرده و ویرایش کنید. این سرویس کاملاً رایگان بوده و دقت بالایی در تشخیص انواع فونت‌ها و زبان‌ها دارد. با ما دیگر نیازی به تایپ دوباره اسناد ندارید و می‌توانید به آسانی متن‌ها را مدیریت و جستجو کنید.
        </p>

        <div class="main-green-button">
          <a href="#contact">شروع کنید</a>
        </div>
      </div>
    </div>
  </div>
</div>
