<div id="services" class="our-services section" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s" style="text-align: center;">
          <h6 style="color: white;">بیشتر با ما آشنا شوید</h6>
          <h2 style="color: white;">شاید پاسخ سوالات شما اینجا باشد</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row text-right">
      <!-- سرویس ۱ -->
      <div class="col-lg-4 mb-4">
        <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="row align-items-center">
            <div class="col-lg-4 col-3 text-center">
              <div class="icon" style="background-color: #1b2542">
                <img src="assets/images/service-icon-01.png" alt="توسعه اپلیکیشن اندروید" class="img-fluid">
              </div>
            </div>
            <div class="col-lg-8 col-9">
              <div class="right-content">
                <h4 style="color: white; font-weight: bold; ">تشخیص متن از تصویر</h4>
                <p style="color: white; font-weight: bold; ">با استفاده از فناوری OCR، می‌توانید متن هر عکس یا سند اسکن شده را به سرعت استخراج کنید و آن را برای ویرایش، ذخیره یا ترجمه آماده کنید.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- سرویس ۲ -->
      <div class="col-lg-4 mb-4">
        <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
          <div class="row align-items-center">
            <div class="col-lg-4 col-3 text-center" >
              <div class="icon"  style="background-color: #1b2542">
                <img src="assets/images/service-icon-02.png" alt="جستجوی کلمات" class="img-fluid">
              </div>
            </div>
            <div class="col-lg-8 col-9">
              <div class="right-content">
                <h4 style="color: white; font-weight: bold; ">جستجوی متن در اسناد</h4>
                <p style="color: white; font-weight: bold; ">می‌توانید به راحتی کلمات یا عبارات خاص را در تصاویر یا PDFها پیدا کنید و فرآیند کار با اسناد دیجیتال خود را سریع‌تر و دقیق‌تر کنید.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- سرویس ۳ -->
      <div class="col-lg-4 mb-4">
        <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="row align-items-center">
            <div class="col-lg-4 col-3 text-center">
              <div class="icon" style="background-color: #1b2542">
                <img src="assets/images/service-icon-03.png" alt="تبدیل متن عکس به PDF" class="img-fluid">
              </div>
            </div>
            <div class="col-lg-8 col-9">
              <div class="right-content">
                <h4 style="color: white; font-weight: bold; ">تبدیل عکس به PDF</h4>
                <p style="color: white; font-weight: bold; ">به کمک سرویس ما می‌توانید تصاویر حاوی متن را به فایل PDF قابل جستجو و ویرایش تبدیل کنید، بدون نیاز به تایپ دوباره اطلاعات.</p>
                <p style="color: white; font-weight: bold; ">به زودی ......</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
